///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal-decorativo
  &-1
    top: 55%
    right: 85%
    width: 90px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate
    
  &-2
    top: 5%
    right: 15%
    width: 90px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate
  
  &-3
    top: 50%
    right: 5%
    width: 90px
    position: absolute
    animation: float1 3.5s ease-in-out infinite alternate

@media (min-width: 1025px)
  .banner-principal-decorativo
    &-1
      top: 55%
      right: 85%
      width: 90px
      
    &-2
      top: 5%
      right: 15%
      width: 90px
    
    &-3
      top: 50%
      right: 5%
      width: 90px
      

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
    
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal__numero
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: $color-primario-20 !important

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner_interno.png') !important

.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.banner-principal .tarjeta
  background-position: left 50% !important
  @media screen and (max-width: $bp-max-md)
    background-image: url(../assets/curso/portada/fondo-banner-principal-sm.png) !important
  @media screen and (max-width: $bp-max-sm)
    background-image: url(../assets/curso/portada/fondo-banner-principal-xs.png) !important
