///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal-decorativo
  &-1
    top: 55%
    right: 85%
    width: 90px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate
    
  &-2
    top: 5%
    right: 70%
    width: 80px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate
  
  &-3
    top: 50%
    right: 5%
    width: 90px
    position: absolute
    animation: float1 3.5s ease-in-out infinite alternate

@media (min-width: 1025px)
  .banner-principal-decorativo
    &-1
      top: 55%
      right: 85%
      width: 90px
      
    &-2
      top: 5%
      right: 70%
      width: 80px
    
    &-3
      top: 50%
      right: 5%
      width: 90px
      

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
    
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal__numero
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: $color-primario-o !important

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner_interno.png') !important

.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.banner-principal .tarjeta
  background-position: left 50% !important
  @media screen and (max-width: $bp-max-md)
    background-image: url(../assets/curso/portada/fondo-banner-principal-sm.png) !important
  @media screen and (max-width: $bp-max-sm)
    background-image: url(../assets/curso/portada/fondo-banner-principal-xs.png) !important

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white


// Fondos 
.bg_img
  &_1
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -30px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema1/img_4.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_2
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -50px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema1/img_8.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_3
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema1/img_16.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_4
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 250px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema1/img_22.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_5
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      border-radius: 2rem
      margin: 0
      top: -40px
      left: -48px
      width: calc(100% + 96px)
      height: 115%
      background-image: url('../assets/curso/tema1/img_27.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_6
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema2/img_1.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_7
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema2/img_7.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_8
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema2/img_10.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_9
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema2/img_17.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_10
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema3/img_1.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_11
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema3/img_8.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_12
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema3/img_14.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_13
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema3/img_21.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_14
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema3/img_25.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none

// factores-slider custom-slider
.factores-slider, .custom-slider
  &__icon 
    max-height: 93px
  .slyder-f
    align-items: center
    justify-content: center
    gap: 0
  .slyder-f__btn
    background-color: $color-acento-botones
    height: 42px
    width: 42px
    min-width: 42px
    border-radius: 50%
    padding: 0 !important
    transition: transform 0.3s
    z-index: 100
    
    &:hover
      transform: scale(1.1)
    .fa-chevron-left, .fa-chevron-right
      font-size: 1.5rem
    &.ps-3
      margin-left: 7px
      @media (max-width: 1024px)
        margin-left: 7px
    &.pe-3
      margin-right: 7px
      @media (max-width: 1024px)
        margin-right: 7px
  
// Tabla a 
.tabla-a thead
  border-top: 10px $color-primario-v solid
  color: $color-sistema-a
  background-color: $color-primario-cv

.bg-table-01
  background-color: $color-adicional-2
  color: $color-sistema-texto
.b 
  font-weight: bold

///////// Card hover --------------------------------------
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important
  border-radius: 16px !important
  -webkit-mask-image: -webkit-radial-gradient(white, black)
  
  figure
    margin: 0 !important
    padding: 0 !important
    
  img
    width: 100%
    display: block
    border-radius: 16px !important 

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0
    left: 0                        
    right: 0                       
    width: 100%
    box-sizing: border-box         
    transition: transform 0.5s ease-in-out
    transform: translateY(calc(99% - 4rem)) 
    background-color: $color-primario-o
    border-bottom-left-radius: 16px !important
    border-bottom-right-radius: 16px !important
    
    h4
      color: $white
      margin-bottom: 0.5rem
      min-height: 2.5rem 
    p
      color: $white
      margin-bottom: 0.5rem
      font-size: 0.9em 

  &:hover    
    .crd_hover_txt--body   
      transform: translateY(0)

  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

////tarjeta-audio
.tarjeta-audio.color-acento-botones
  border-color: $color-secundario-v
  background-color: $white
.tarjeta-audio.color-acento-botones .tarjeta-audio__texto
  color: $color-sistema-texto



// --- CITA DECORADA --- //

.cita-decorada
  
  .cita-decorada__caja
    background-size: 100% 100%
    background-repeat: no-repeat

    &--fondo-1
      background-image: url('../assets/curso/tema1/img_30.svg')
    &--fondo-2
      background-image: url('../assets/curso/tema1/img_31.svg')
    &--fondo-3
      background-image: url('../assets/curso/tema2/img_27.svg')
    &--fondo-4
      background-image: url('../assets/curso/tema2/img_28.svg')
    &--fondo-5
      background-image: url('../assets/curso/tema3/img_33.svg')
    

    [class*="cita-decorada__imagen-flotante"]
      width: 100%
      height: auto
      
    .cita-decorada__imagen-flotante-1
      position: absolute
      transform: translateY(-50px) translateX(-40px)
      z-index: 3
      max-width: 100px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-50px) translateX(-30px)
        max-width: 90px
    
    .cita-decorada__imagen-flotante-2
      position: absolute
      transform: translateY(-60px) translateX(-10px)
      z-index: 3
      max-width: 100px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-50px) translateX(-5px)
        max-width: 90px
